@{
    ViewData["Title"] = "Home Page";
}

<div class="body" style="background-color:lightpink; display:flex">
    <div style="align-self:stretch;">
        <section class="text-center" style="background-color:powderblue;">
            <h1 class="display-4">Budget Overview</h1>
            <p>This will contain current overview of monthly budget. Will have the categories with how much is left in each</p>
        </section>
        <section class="text-center" style="background-color:honeydew;">
            <h1 class="display-4">Account Overview</h1>
            <p>This will contain current account information. (maybe)</p>
        </section>
    </div>


    <div class="text-center" style="background-color:navajowhite; align-self:stretch;">
        <h1 class="display-4">Graphs</h1>
        <p>This is where graphs will go.</p>
    </div>

</div>