@model Finance_Tracker.Models.CreditCard

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreditCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StatementBalance" class="control-label"></label>
                <input asp-for="StatementBalance" class="form-control" />
                <span asp-validation-for="StatementBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPayment" class="control-label"></label>
                <input asp-for="MinPayment" class="form-control" />
                <span asp-validation-for="MinPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label"></label>
                <input asp-for="InterestRate" class="form-control" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
