html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* The popup form - hidden by default */
#PITForm {
    display: none;
    position: center;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

#currentNetWorthBox {
    float: left;
    border: 3px solid green;
}

#currentNetWorthVal {
    border: 3px solid #f1f1f1;
}

#updatePITbtn {
    border: 1px solid red;
}

#wrapper {
    width: 100%;
    position: center;
    border: 1px solid black;
    overflow: hidden;
}

#accountForm {
    display: none;
    position: center;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

#accountType {
    display: none;
}

#interestRates {
    display: none;
}

#accountInfo {
    display: none;
}

#isRetirement {
    display: none;
}

#isCreditCard {
    display: none;
}

#isLoan {
    display: none;
}